---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillCard from "../components/SkillCard.astro";
import Title from "../components/Title.astro";
import Texto from "../components/Texto.astro";
---

<Layout title="Mi Portfolio">
	<header><Navbar /></header>
		<main>
			<section class="about">
				<video style="max-width: 100%;filter: invert(0);" width="720" autoplay muted controls>
					<source src="video.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
				<article>
					<!--Texto text="Enserio." />
					<Texto text="¿Quieres una web?" />
					<Texto text="Si es así ¿Qué buscas realmente?" />
					<Texto text="¿La aprobación ajena o vender más y mejor?" />
					<Texto text="¿Ocultar tu mediocridad bajo un manto de toneladas y toneladas de CSS de chichinabo que no transmite nada?" />
					<Texto text="¿O enfocarte en un diseño que de enfoque a lo que de verdad importa? Es decir, a tus palabras" />

					<Texto text="Cualquiera de las dos opciones son repetables, pero lamento decirte, que ." />

					<Texto text="En lo primero la IA puede hacer lo " /-->
					<!--p>¿Qué buscas? ¿esconderte de ti mismo o ganar más y mejor?</p>
					<p>¿Ocultar tu mediocridad bajo mantos y toneladas de CSS que no transmiten nada? ¿O ser capaz de trasmitir mediante la palabra artística?</p>
					<p>La IA te puede ayudar en lo primero.</p>
					<h3>Yo en lo segundo.</h3>
					<Title text='Desarrollador Web'/>
					<Title text='hazte la pregunta'/>
					<Title text='Quieres una web'/-->

					<Texto text="¡Hola!, Soy Enrique Vergara"/>
					<Title text='Desarrollador Web'/>

					
				</article>
				
			</section>
			<section class="skills">
				<Title text='Habilidades y tecnologías'/>
				<section>
					<SkillCard
						title='Desarrollo de frontend'
						description='Desarrollo de sitios web con JavaScript, Angular y Astro'
						icon='design.svg'
					/>
					<SkillCard
						title='Desarrollo de backend'
						description='Desarrollo de API con NodeJS y Django'
						icon='server.svg'
					/>
					<SkillCard
						title='Bases de datos'
						description='Bases de datos como PostgreSQL y MongoDB.'
						icon='database.svg'
					/>
					<SkillCard
						title='Despliegue de sistemas'
						description='Sitemas LEMP y Docker en Linux.'
						icon='database.svg'
					/>
				</section>
			</section>
			<!--section class="work">
				<Title text='Mi trabajo'/>
				<section>
					
					<ProjectCard 
						title='Desarrollo Móvil #2'
						description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
						link='#'
					/>
					<ProjectCard 
						title='My Project #3'
						description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
						link='#'
					/>
				</section>
				
			</section-->
			<section class="contact">
				<Texto text="Y bien." />
				<Texto text="¿Quieres una web?" />
				<Texto text="Si es así ¿Qué buscas realmente?" />
				<Texto text="¿Ocultar tu mediocridad bajo mantos y toneladas de CSS que no transmiten nada?" />
				<Texto text="¿O enfocarte en un diseño que de enfoque a lo que de verdad importa?" />
				<h3>
					A tus palabras.
				</h3>
				<Texto text="La IA te ayudará increiblemente bien con lo primero." />
				<Texto text="Lo hará infinitamente mejor que yo y cualquier programador." />
				<Texto text="Una web que busca la aprobación ajena de todos pero que vender, vende poco." />
				<Texto text='Yo en cambio, puedo ayudarte con lo segundo.'/>
				<Texto text='Un diseño web que te permita...'/>
				<h3>
					Vender más y mejor.
				</h3>
				<Texto text='Si no estas interesado en vender mas y mejor, no me escribas al email de abajo. Que pases un buen día.'/>
				<Button message='Enviar mensaje' icon='email.svg' link='mailto:evergaradev@gmail.com'/>
			</section>
		</main>
		<Footer />
</Layout>

<style>
	main {
		margin: 50px auto 0 auto;
		max-width: 1020px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}

	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		width: 100%;
		height: calc(100vh - 50px);
		text-align: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0 20px;
	}

	.about > img {
		width: 150px;
		border-radius: 9999px;
		object-fit: cover;
	}

	.about > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about > article > p {
		color: #1e1e1e;
		font-style: italic;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgba(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}

	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}

		.about > img {
			width: 100px;
		}
	}
</style>
